.chapter_wrapper
  padding 10px
  background #c5be9f
  border-radius 5px
  word-break break-all
.dynamic_field
	display flex
	align-items baseline
	margin-top 10px
	.van-cell-group
		width 36%
		margin-right 10px
.passage_wrapper
	padding 10px
	margin-top 10px
	border-radius 2px
	background #b8ddc9